.free-try {
  width: 150px;
}

.primary-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  text-decoration: none;
  font-family: $button-font-family;
  font-size: 14px;

  &:hover {
    background-color: darkblue;
  }
}

.link-button {
  background-color: transparent;
  color: darkblue;
  text-decoration: none;
  border: none;
  font-family: $button-font-family;
  width: 200px;

  &:hover{
    text-decoration: underline;
  }
}
.nav-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.title-button{
  display: inline-flex;
    width: 100%;
    padding-bottom: 25px;
}

.mobile-button-grp{
  width: -webkit-fill-available;
  justify-content: flex-end;
  text-align: -webkit-right;

}
.mobile-button{
  display: none;

  @media only screen and (max-width: 767px)  {
    display: block;
  }
}

.desktop-button{
  display: block;

  @media only screen and (max-width: 767px)  {
    display: none;
  }
}

.navigation-icon{
  display: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 20px;
  @media only screen and (max-width: 767px)  {
    display: block;

  }
}

.mobile-full-width{
  width: 100%;
  margin: 10px 0;
}