.round-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  &-container {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: lightpink;
  }
}

.feature-name {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
}

.feature-description {
  overflow-wrap: break-word;
  text-align: center;
  color: gray;
}

.each-feature{
    padding: 20px;
}