$base-font-family: -webkit-pictograph;
$button-font-family: cursive;

@import "scss/fonts";
@import "scss/pageone";
@import "scss/buttons";

body > * {
  font-family: $base-font-family;
}

.container-box {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container-content{
  width: 80%;
  max-width: 1240px;
  min-width: 1000px;

  @media only screen and (max-width: 990px)  {
    width: 100%;
    min-width: none;
    max-width: 100vh;
  }
}

.nav-bar-title {
  display: inline-flex;
  width: 10%;
  font-family: system-ui;
}

.nav-bar {
  display: inline-flex;
  width: 100%;
}
.nav-content {
  width: 75%;
  text-align: right;
}

.each-nav {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 18px;
  width: 20%;
  color: black;
  margin-right: 20px;
  font-family: $base-font-family;
  vertical-align: -webkit-baseline-middle;
}
