$base-font-family: -webkit-pictograph;
$button-font-family: cursive;

@import "scss/fonts";
@import "scss/pageone";
@import "scss/buttons";
@import "scss/pagetwo";
@import "scss/pagethree";

body > * {
  font-family: $base-font-family;
}

.container-box {
  display: flex;
  justify-content: center;
  padding: 50px;

  @media only screen and (max-width: 990px)  {
    padding: 20px;
  } 
}

.container-content{
  width: 90%;
  max-width: 1240px;

  @media only screen and (max-width: 990px)  {
    width: 100%;
    max-width: 100vh;
  }
}

.content-section {
  padding: 50px;
  margin: 50px 0;

  @media only screen and (max-width: 990px) {
    padding: 20px;
  }
}

.nav-bar-title {
  display: inline-flex;
  width: 10%;
  font-family: system-ui;
}

.nav-bar {
  display: inline-flex;
  width: 100%;
}
.nav-content {
  width: 100%;
  text-align: right;
  display: inline-flex;
  // min-width: 410px;

  @media only screen and (max-width: 768px)  {
    // width: 100%;
    display: none;
  }
}

.each-nav {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 18px;
  width: 20%;
  color: black;
  margin-right: 20px;
  font-family: $base-font-family;
  vertical-align: -webkit-baseline-middle;

  @media only screen and (max-width: 768px)  {
    text-align: center;
  }
}

