.orange {
  color: #f5b727;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 30px;
  }
}

.left-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.left-contents-container {
  width: 100%;
}

.phone {
  border: 1px solid darkgray;
  border-radius: 20px;
  padding: 15px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.phone-img {
  width: 100%;
  height: 315px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  border-radius: 7px;
}

.phone .title {
  text-align: center;
  margin: 15px 0;
}

.phone .contents {
  text-align: center;
  color: gray;
}

.phone-button {
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 20px;
  width: 90%;
}

.achievement {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ebeef2;
  border-radius: 50px;
  padding: 0px 10px 0px 0px;
  width: 50%;
  height: 35px;
  min-width: 280px;
}

.achievement-flag {
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 50%;
}

@media only screen and (max-width: 990px) {
  .achievement-flag {
    width: 50px;
    height: 50px;
  }
}

.achievement-name {
  padding-left: 10px;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 990px) {
  .achievement {
    width: 100%;
    height: 50px;
  }
}

.eye-catching {
  font-size: 55px;
  width: 90%;
  font-family: fantasy;
}

.small-description {
  font-size: 20px;
  color: gray;
  font-family: cursive;
}

.one-button-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 20px 0;
}

@media only screen and (max-width: 990px) {
  .one-button-group {
    display: block;
  }
}

.free-try {
  width: 150px;
}

.primary-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  text-decoration: none;
  font-family: cursive;
  font-size: 14px;
}

.primary-button:hover {
  background-color: darkblue;
}

.link-button {
  background-color: transparent;
  color: darkblue;
  text-decoration: none;
  border: none;
  font-family: cursive;
  width: 200px;
}

.nav-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding-bottom: 25px;
}

.mobile-button-grp {
  width: -webkit-fill-available;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: -webkit-right;
}

.mobile-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-button {
    display: block;
  }
}

.desktop-button {
  display: block;
}

@media only screen and (max-width: 768px) {
  .desktop-button {
    display: none;
  }
}

.navigation-icon {
  display: none;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .navigation-icon {
    display: block;
  }
}

.mobile-full-width {
  width: 100%;
  margin: 10px 0;
}

.sponsor {
  width: 100%;
  background-color: transparent;
  overflow: auto;
}

.sponsor-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  min-width: 670px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.each-sponsor {
  width: 100px;
  height: 100px;
  border-radius: 75px;
  background-color: orange;
  margin: 0 20px;
}

.round-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.round-icon-container {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: lightpink;
}

.feature-name {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
}

.feature-description {
  overflow-wrap: break-word;
  text-align: center;
  color: gray;
}

.each-feature {
  padding: 20px;
}

body > * {
  font-family: -webkit-pictograph;
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

@media only screen and (max-width: 990px) {
  .container-box {
    padding: 20px;
  }
}

.container-content {
  width: 90%;
  max-width: 1240px;
}

@media only screen and (max-width: 990px) {
  .container-content {
    width: 100%;
    max-width: 100vh;
  }
}

.content-section {
  padding: 50px;
  margin: 50px 0;
}

.content-section-title {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-section-title-container {
  width: 50%;
}

@media only screen and (max-width: 990px) {
  .content-section-title-container {
    width: 100%;
  }
}

.content-section-description {
  text-align: center;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-section-description-container {
  width: 70%;
}

@media only screen and (max-width: 990px) {
  .content-section-description-container {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .content-section {
    padding: 20px;
  }
}

.nav-bar-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 10%;
  font-family: system-ui;
}

.nav-bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.nav-content {
  width: 100%;
  text-align: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 768px) {
  .nav-content {
    display: none;
  }
}

.each-nav {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 18px;
  width: 20%;
  color: black;
  margin-right: 20px;
  font-family: -webkit-pictograph;
  vertical-align: -webkit-baseline-middle;
}

@media only screen and (max-width: 768px) {
  .each-nav {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */